<form action="/login" method="post">
    <label for="usuarioId">Usuario:</label>
    <input id="usuarioId" type="text" name="usuario">
    <label for="passwordId">Usuario:</label>
    <input id="passwordId" type="password" name="password">
    <button type="submit">Logearse</button>
</form>

