<%- include('../compartidoCancion/menu-component') %>
<%- include('../compartidoCancion/estiloscancion-component') %>

<h1>Crear cancion</h1>

<form action="/cancion/crearCancionDesdeVista" method="post">
    <label for="nombreID">Nombre:</label>
    <input id="nombreID" type="text" name="nombre">
    <br>
    <label for="albumID">Album:</label>
    <input id="albumID" type="text" name="album">
    <br>
    <label for="autorID">Autor:</label>
    <input id="autorID" type="text" name="autor">
    <br>
    <label for="generoID">Genero:</label>
    <input id="generoID" type="text" name="genero">
    <br>
    <label for="anioID">Año</label>
    <input id="anioID" type="text" name="anio">
    <br>
    <button type="reset">RESET</button>
    <button type="submit">SUBMIT</button>

</form>
